@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: 'Inter', 'sans-serif';   /* For headings use inter - jay */
    --font-roboto: 'Roboto', 'sans-serif'; /* For body text use roboto - jay */

   
  --color-royalblue: #007BFF;     /* For buttons, links, primary actions */
  --color-cyan: #00C2CB;          /* For highlights, secondary buttons */
  --color-lightgray: #F7F9FC;     /* Background */
  --color-darktext: #1A1A1A;      /* Main text */
  --color-amber: #FFB400;         /* Accent elements, alerts, CTAs */
  


}

* {
    box-sizing: border-box;
}

/* Fade and scale animation */
@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-scale-in {
  animation: fadeScaleIn 0.3s ease-in-out;
}

.nav-item-underline {
  position: relative;
  overflow: hidden;
}

.nav-item-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #2563EB;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-item-underline:hover::after {
  width: 100%;
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: left 0.6s;
}

.shine-effect:hover::after {
  left: 100%;
}


/* for LiveMap.jsx */
@import "leaflet/dist/leaflet.css";